<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha - Biblioteca Virtual</title>
  <link rel="stylesheet" href="../static/css/estilo2.css">
</head>
<body>
  <div class="container">
    <div class="left">
      <div class="logo-circular-container">
        <img src="../static/img/logo.png" alt="Biblioteca Virtual">
      </div>
    </div>
    <div class="right">
      <div class="login-box">
        <h2>Recuperação de Senha</h2>
        <label for="email">Digite seu e-mail cadastrado</label>
        <input type="email" id="email" placeholder="Digite seu e-mail">
          <form method="POST" action="{{ url_for('forgot_password.forgot_password') }}">
            <label for="email">Confirme o e-mail</label>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
            <p>Ao clicar em enviar, você receberá um link para cadastro de uma nova senha.</p>
            <button class="btn-login" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>