<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha - Biblioteca Virtual</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css')}}">
</head>
<body>
  <div class="container">
    <div class="left">
      <div class="logo-circular-container">
        <img src="../static/img/logo.png" alt="Biblioteca Virtual">
      </div>
    </div>
    <div class="right">
      <div class="login-box">
        <h2>Recuperação de Senha</h2>
        <label for="email">Digite seu e-mail cadastrado</label>
        <input type="email" id="email" placeholder="Digite seu e-mail">
        <p>Ao clicar em enviar, voce receberá um link para cadastro de uma nova senha.
        <button class="btn-login">Enviar</button>
      </div>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="alert alert-{{ category|e }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  <script src="../static/js/script.js" defer></script>

  
</body>
</html>