<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criando Nova Senha- Biblioteca Virtual</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css')}}">
</head>
<body>
  <div class="container">
    <div class="left">
      <div class="logo-circular-container">
        <img src="\templates\images\logo.png" alt="Biblioteca Virtual">
      </div>
    </div>
    <div class="right">
      <div class="login-box">
        <h2>Criando Nova Senha</h2>
        <label for="senha">Digite a nova senha</label>
        <input type="password" id="senha" placeholder="Digite a senha">
        <label for="senha">Confirme a Nova Senha</label>
        <input type="password" id="senha" placeholder="Confirme a senha">
        <button class="btn-login">Enviar</button>
      </div>
    </div>
  </div>
</body>
</html>
